body {
    background-color: white;
}

fieldset {
    background-color: rgb(218, 252, 218);
    border-color: rgb(23, 227, 23);
    background-image: linear-gradient(white, rgb(145, 248, 145));
    width: 500px;
    height: 280px;
    padding: 10px;
    position: absolute;
    left: 500px;
    right: 200px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 20px;
}

legend {
    color: rgb(230, 2, 2);
    border: 2px solid;
    border-color: rgb(23, 227, 23);
    background-color: rgb(253, 210, 225);
}

label {
    color: green;
    padding: 5px;
    right: 200px;
}

input {
    color: black;
    position: absolute;
    font-size: 15px;
}

#nome, #email, #area {
    position: absolute;
    left: 180px;
}

textarea {
    color: black;
    resize: none;
    border-radius: 5px;
}